<template name="authentication">
  <div id="authentication-full-screen-body" style="overflow:hidden;">
    <div class="fullscreen">
      <video loop muted autoplay poster="/public/1.jpg" class="fullscreen__video" style="opacity: 0.6;">
        <source src="/intro.mp4" type="video/mp4" class="fullscreen__video">
        <img src="/vintagePic17.jpg"/>
      </video>
    </div>
    <div class="title-home-page">
      <h3>The Grad List</h3>
      <p>A partilha de histórias começa aqui.</p>
    </div>
    <div class="container">
      <div id="form-front-page">
        <form id="authentication-form">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="sign-up-tab">
              <p>
                <input class="text-input form-control form-style" placeholder="Username" type="text" id="username-input" style="border: none;">
              </p>
              <p>
                <input class="text-input form-control form-style" placeholder="Email" type="text" id="email-input" style="border: none;">
              </p>
              <p>
                <input class="text-input form-control form-style" placeholder="Password" type="password" id="password-input" style="border: none;">
              </p>
              <p>
                <input class="text-input form-control form-style" placeholder="Confirm Password" type="password" id="password-confirm-input" style="border: none;">
              </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="sign-in-tab">
              <p>
                <input class="text-input form-control form-style" placeholder="Username" type="text" id="username-input" style="border: none;">
              </p>
              <p>
                <input class="text-input form-control form-style" placeholder="Password" type="password" id="password-input" style="border: none;">
              </p>
              <!--<ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                  <a id="forgot-password" role="tab" data-toggle="tab" class="buttons-style nav-link active" href="#sign-up-tab">Forgot Passoword</a>
                </li>
                <li class="nav-item">
                  <a id="reset-password" role="tab" data-toggle="tab" class="buttons-style nav-link" href="#sign-in-tab">Reset Password</a> {{> sAlert}}
                </li>
              </ul>-->
            </div>
            <div id="authentication-form-btns">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                  <a id="sign-up-btn" role="tab" data-toggle="tab" class="buttons-style nav-link active" href="#sign-up-tab">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a id="sign-in-btn" role="tab" data-toggle="tab" class="buttons-style nav-link" href="#sign-in-tab">Sign In</a> {{> sAlert}}
                </li>
                <li class="nav-item">
                  <a id="facebook-login" role="tab" data-toggle="tab" class="buttons-style nav-link" href="#facebook-login"> Login with Facebook</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    {{>footer}}
  </div>
</template>
