<head>
  <title>The Grad List</title>
  <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="https://fonts.google.com/?query=mont&selection.family=Montserrat" media="screen" rel='stylesheet' type='text/css'>
  <link href="TGLLogo-03.png" rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="main">
  {{> sAlert}}
  {{#if currentUser}}
    {{> home}}
  {{else}}
    {{> authentication}}
  {{/if}}
</template>
