html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.follow {
  background-color: black;
  font-color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
}

.unfollow {
  background-color: black;
  font-color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
}

.following {
  float: right;
  margin-right: 25px;
  margin-top: 20px;
  color: black;
  font-size: 20px;
}

.done {
  font-size: 2rem;
}

.dropdown {
  float: right;
  margin-right: auto;
  margin-left: auto;
}

.new-comment-feed {
  margin-bottom: 15px;
  margin-top: -10px;
}

.new-comment {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.form {
  width: 50%;
  margin: 2% auto 2% auto;
}

#main {
  margin-top: 10%;
}

.comment {
  margin-top: -5px;
  display: table-row;
  border-color: black;
}

.submitPost-image {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.followers-following {
  width: 50%;
  height: 10%;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto;
}

.followers-following-list {
  display: inline;

  li {
    color: #231F20;
    font-family: Montserrat;
    text-decoration: none;
    list-style: none;
  }

  li p {
    width: 10%;
    padding: 0;
    margin: 0;
  }

  a {
    color: #75718B;
  }

  h2 a {
    text-decoration: none;
    list-style: none;
  }
}

.delete2 {
  float: right;
}

#completed-posts-title {
  width: 50%;
  color: #75718B;
  font-family: Montserrat;
  font-size: 1.5em;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto;
  text-align: left;
}

#suggestions {

  width: 50%;
  color: #211A47;
  font-family: Montserrat;
  font-size: 2em;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto;

  a {
    color: #75718B;
  }

  a:hover {
    text-decoration: underline;
  }
}

.header-style {
  background-color: #211A47;
  border-radius: 0;
}

.submit {

  a {
    color: white;
    font-size: 1.5em;
    font-family: Montserrat;
    text-decoration: none;
  }

  a:focus, a:hover {
    text-decoration: none;
    color: #7C89F3;
  }

  ul {
    list-style: none;
    padding-left: 2%;
  }

  li {
    color: white;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: none;
    color: #7C89F3;

  }

  li .profile {
    color: white;
    font-size: 1em;

    .profile a:hover {
      text-decoration: none;
      color: #7C89F3;
    }
  }
  li .logout {
    font-size: 1em;
    color: white;

    .logout a:hover {
      text-decoration: none;
      color: #7C89F3;
    }
  }
}

.grid-block, .main, .post, .comments li, .comment-form {
  width: 50%;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  /* top | right | bottom | left */
  margin: 2% auto 2% auto;
}

#authentication-full-screen-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url(vintagePic17.jpg) no-repeat center center fixed;
  position: absolute;
}

.row {
  width: 40%;
}

.input-field label {
  color: white;
}

.container {
  margin-top: 2%;
}

.title {
  margin-top: 7%;

  h3 {
    text-align: center;
    font-family: Montserrat;
    font-size: 2.8em;
    font-weight: 900;
    color: #211A47;
  }

  p {
    text-align: center;
    font-family: Montserrat;
    font-size: 0.8em;
    color: #211A47;
  }
}

.drop-list {
  padding: 0;

  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #75718B;
  }
}

#form-front-page {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}

#sign-up-btn a {
  a:focus, a:hover {
    color: white;
    background: #968EBF;
  }
}

#sign-in-btn a {
  a:focus, a:hover {
    color: white;
    background: #968EBF;
  }
}

#facebook-login a:focus, a:hover {
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
  background: #211A47;
}

#authentication-form-btns {
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline;
      a {
        float: left;
      }
    }
  }
}

.label-default {
  background-color: #cdcfda;
}

.label-pill {
  padding-left: .6em;
  padding-right: .6em;
  border-radius: 0.2rem;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 30%;
  height: 2%;
}

#footer-list {
  text-align: center;
  color: #211A47;
  font-family: Montserrat;
  font-size: 1em;
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
  }

  li img {
    margin-left: 2%;

  }
}

.navbar {
  margin-bottom: 30px;
}

#spinner {
  height: 300px;
}

.post .post-content .published {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 1em;
}

/*
.post {
  *zoom: 1;
  position: relative;
  opacity: 1;
}
*/

.post:before, .post:after {
  content: "";
  display: table;
}

.post:after {
  clear: both;
}

.post.invisible {
  opacity: 0;
}

.post.instant {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.post.animate {
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in;
}

.post .upvote {
  display: block;
}

.comment-item-post {

  ul {
    padding-left: 0;
    list-style: none;
  }
  ul li {
    display: inline;

  }

  h6 {
    margin-bottom: 1%;
    font-size: 1em;
  }

  a {
    color: #7C89F3;
  }
}

.post .post-content {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  h3 {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 1em;
  }

  p {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 0.6em;
  }

  a {
    display: inline-block;
    color: #7C89F3;
  }

  span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: black;
  }

  p {
    margin: 0;
  }

  a:hover {
    color: #5e3099;
    text-decoration: none;
  }
}

.post .discuss {
  display: block;
  float: right;
  margin-top: 7px;
  margin-right: 18px;
  background-color: #c7c7c7;
}

.profile-title {

  a {
    color: #75718B;
  }

  a:hover {
    color: #211A47;
    text-decoration: none;
  }
}

.buttons-style {
  background-color: #75718B;
  border-radius: 4px;
  border: none;
  padding: 3px 6px;
  font-size: 0.8em;
  color: white;
}

.btn-primary-outline:hover {
  background: #211A47;
}

.btn-primary:hover {
  background: #211A47;
}

.buttons-style-editProfile {
  background-color: #75718B;
  border-radius: 4px;
  font-size: 0.8em;
  border: none;
  color: white;
}

.number_of_likes {
  width: 6%;
  margin: 0;
}

.social-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

.social-button-group {
  text-align: center;
}

.comments {
  list-style-type: none;
  margin: 0;

  li h4 {
    font-size: 16px;
    margin: 0;
  }

  li h4 .date {
    font-size: 12px;
    font-weight: normal;
  }

  li h4 a {
    font-size: 12px;
  }

  li p:last-child {
    margin-bottom: 0;
  }
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
}

.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
  position: relative;
  height: 100px;
}

.jumbotron {
  text-align: center;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

@media (max-width: 800px) {
  #completed-posts-title {
    font-size: 1.3em;
  }

  .profile-title {

    h4 {
      font-size: 1.3em;
    }

  }

  .number_of_likes {
    width: 5%;
  }

}
