html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

.follow {
  background-color: black;
  font-color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 10px; }

.unfollow {
  background-color: black;
  font-color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 10px; }

.following {
  float: right;
  margin-right: 25px;
  margin-top: 20px;
  color: black;
  font-size: 20px; }

.done {
  font-size: 2rem; }

.dropdown {
  float: right;
  margin-right: auto;
  margin-left: auto; }

.new-comment-feed {
  margin-bottom: 15px;
  margin-top: -10px; }

.new-comment {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.form {
  width: 50%;
  margin: 2% auto 2% auto; }

.comment {
  margin-top: -5px;
  display: table-row;
  border-color: black; }

.submitPost-image {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.followers-following {
  width: 50%;
  height: 10%;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto; }

.followers-following-list {
  display: inline; }
  .followers-following-list li {
    color: #231F20;
    font-family: Montserrat;
    text-decoration: none;
    list-style: none; }
  .followers-following-list li p {
    width: 10%;
    padding: 0;
    margin: 0; }
  .followers-following-list a {
    color: #75718B; }
  .followers-following-list h2 a {
    text-decoration: none;
    list-style: none; }

.delete2 {
  float: right; }

#completed-posts-title {
  width: 50%;
  color: #75718B;
  font-family: Montserrat;
  font-size: 2em;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto; }

#suggestions {
  width: 50%;
  color: #75718B;
  font-family: Montserrat;
  font-size: 2em;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto; }

.header-style {
  background-color: #211A47;
  border-radius: 0; }

.submit a {
  color: white;
  font-size: 1.5em;
  font-family: Montserrat;
  text-decoration: none; }
.submit a:focus, .submit a:hover {
  text-decoration: none;
  color: #7C89F3; }
.submit ul {
  list-style: none;
  padding-left: 2%; }
.submit li {
  color: white;
  text-decoration: none; }
.submit li a:hover {
  text-decoration: none;
  color: #7C89F3; }
.submit li .profile {
  color: white;
  font-size: 1em; }
  .submit li .profile .profile a:hover {
    text-decoration: none;
    color: #7C89F3; }
.submit li .logout {
  font-size: 1em;
  color: white; }
  .submit li .logout .logout a:hover {
    text-decoration: none;
    color: #7C89F3; }

.grid-block, .main, .post, .comments li, .comment-form {
  width: 50%;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  /* top | right | bottom | left */
  margin: 2% auto 2% auto; }

#authentication-full-screen-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url(vintagePic17.jpg) no-repeat center center fixed;
  position: absolute; }

#facebook-login {
  color: white; }

.row {
  width: 40%; }

.input-field label {
  color: white; }

.container {
  margin-top: 2%; }

.title {
  margin-top: 7%; }
  .title h3 {
    text-align: center;
    font-family: Montserrat;
    font-size: 2.8em;
    font-weight: 900;
    color: #211A47; }
  .title p {
    text-align: center;
    font-family: Montserrat;
    font-size: 0.8em;
    color: #211A47; }

#form-front-page {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%; }

#sign-up-btn {
  background-color: #75718B;
  color: white; }

#sign-in-btn {
  background-color: #75718B;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#sign-in-btn .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link .active:hover {
  background-color: #75718B;
  color: white; }

#authentication-form-btns .nav .nav-pills ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
#authentication-form-btns .nav .nav-pills li {
  display: inline; }

#footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 30%;
  height: 2%; }

#footer-list {
  text-align: center;
  color: #211A47;
  font-family: Montserrat;
  font-size: 1em;
  list-style-type: none;
  padding: 0; }
  #footer-list li {
    display: inline; }
  #footer-list li img {
    margin-left: 2%; }

.navbar {
  margin-bottom: 30px; }

.post-profile-pic {
  height: 60px;
  width: 60px;
  float: left;
}

#spinner {
  height: 300px; }

.post .post-content .published {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 1em; }

/*
.post {
  *zoom: 1;
  position: relative;
  opacity: 1;
}
*/
.post:before, .post:after {
  content: "";
  display: table; }

.post:after {
  clear: both; }

.post.invisible {
  opacity: 0; }

.post.instant {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.post.animate {
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in; }

.post .upvote {
  display: block; }

.comment-item-post ul {
  padding-left: 0;
  list-style: none; }
.comment-item-post ul li {
  display: inline; }
.comment-item-post h6 {
  margin-bottom: 1%;
  font-size: 1em; }
.comment-item-post a {
  color: #7C89F3; }

.post .post-content {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
  .post .post-content h3 {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 1em; }
  .post .post-content p {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 0.6em; }
  .post .post-content a {
    display: inline-block;
    color: #7C89F3; }
  .post .post-content span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: black; }
  .post .post-content p {
    margin: 0; }

.post .discuss {
  display: block;
  float: right;
  margin-top: 7px;
  margin-right: 18px;
  background-color: #c7c7c7; }

.buttons-style {
  background-color: #75718B;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 3px 6px;
  font-size: 0.8em; }

.number_of_likes {
  width: 10%;
  margin: 0; }

.social-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%; }

.social-button-group {
  text-align: center; }

.fork {
  display: block;
  float: right;
  margin-top: 7px;
  margin-right: 25px;
  background-color: #c7c7c7;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  color: black; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
  .comments li h4 .date {
    font-size: 12px;
    font-weight: normal; }
  .comments li h4 a {
    font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }

.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container {
  position: relative;
  height: 100px; }

.jumbotron {
  text-align: center; }

.jumbotron h2 {
  font-size: 60px;
  font-weight: 100; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none; }

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto; }

/*# sourceMappingURL=style.css.map */
