html, body {
  width: 100%;
  height: 100%; }

.formStyle {
  background-color: rgba(255, 255, 255, 0.6); }

.s-alert-error.s-alert-effect-slide {
  background: #75718B;
  color: #fff;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  font-family: Montserrat;
  text-align: center; }

.list-group-item {
  color: #75718B;
  padding: 0.5rem 0.5rem; }

.noBorder {
  border: 0rem solid #ddd; }

#search {
  margin: 0; }

.follow {
  background-color: black;
  font-color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 10px; }

.dropdown {
  float: right;
  margin-right: auto;
  margin-left: auto; }

.new-comment-feed {
  margin-bottom: 15px;
  margin-top: -10px; }

.new-comment {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .new-comment input[type="text"] {
    outline: 0; }

.form {
  width: 50%;
  margin: 2% auto 2% auto; }

#main {
  margin-top: 7%; }

.profilePic {
  width: 100%; }

.post-profile-pic {
  width: 20%; }

.comment {
  margin-top: -5px;
  display: table-row;
  border-color: black; }

.submitPost-image {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.followers-following {
  width: 43%;
  height: 10%;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto; }

.followers-following-list {
  display: inline; }
  .followers-following-list li {
    color: #231F20;
    font-family: Montserrat;
    text-decoration: none;
    list-style: none; }
  .followers-following-list li p {
    width: 10%;
    padding: 0;
    margin: 0; }
  .followers-following-list a {
    color: #75718B; }
  .followers-following-list h2 a {
    text-decoration: none;
    list-style: none; }

.title-Pages {
  color: #59556A;
  text-align: left;
  font-size: 1.5em;
  font-family: Montserrat; }

.delete2 {
  float: right; }

#completed-posts-title {
  width: 43%;
  color: #59556A;
  font-size: 1.67em;
  /* top | right | bottom | left */
  margin: 0% auto 2% auto;
  text-align: left; }

.Done {
  color: #59556A;
  font-size: 1.67em;
  text-align: left; }

#suggestions {
  width: 43%;
  color: #211A47;
  font-family: Montserrat;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto; }
  #suggestions h6 {
    font-size: 0.8em; }
  #suggestions a {
    color: #75718B; }
  #suggestions a:hover {
    text-decoration: line-through; }

.header-style {
  background-color: #211A47;
  border-radius: 0; }

.submit a {
  color: white;
  font-size: 1.5em;
  font-family: Montserrat;
  text-decoration: none; }
.submit a:focus, .submit a:hover {
  text-decoration: none;
  color: #7C89F3; }
.submit ul {
  list-style: none;
  padding-left: 2%; }
.submit li {
  color: white;
  text-decoration: none; }
.submit li a:hover {
  text-decoration: none;
  color: #7C89F3; }
.submit li .profile {
  color: white;
  font-size: 1em; }
  .submit li .profile .profile a:hover {
    text-decoration: none;
    color: #7C89F3; }
.submit li .logout {
  font-size: 1em;
  color: white; }
  .submit li .logout .logout a:hover {
    text-decoration: none;
    color: #7C89F3; }

.grid-block, .main, .post, .comments li, .comment-form {
  width: 43%;
  background: #fff;
  border-radius: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.15);
  padding: 25px;
  /* top | right | bottom | left */
  margin: 2% auto 2% auto;
  color: #59556A; }

/*
#authentication-full-screen-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: url(vintagePic17.jpg) no-repeat center center fixed;
  position: absolute;
} */
.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.content-list {
  background: #FFF;
  float: left;
  display: block;
  position: absolute;
  margin-left: -0.76%;
  width: 14.6%; }

.drop-list {
  padding: 0; }
  .drop-list li {
    list-style: none;
    border: 0.5px solid #E8E8E8; }
  .drop-list a {
    color: #211A47;
    text-decoration: none; }
  .drop-list a:hover {
    color: #75718B;
    text-decoration: line-through; }

.navbar-search {
  width: 15%;
  float: right;
  /*border: 0px solid transparent;*/
  border: 0.5px solid #211A47; }

.navbar-search input {
  width: 100%;
  color: #211A47;
  border: 0 solid transparent;
  padding: 0; }

input[type="text"] {
  outline: 0; }

#form-front-page {
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; }

#sign-up-btn a a:focus, #sign-up-btn a a:hover {
  color: white;
  background: #968EBF; }

#sign-in-btn a a:focus, #sign-in-btn a a:hover {
  color: white;
  background: #968EBF; }

#facebook-login a:focus, a:hover {
  color: white; }

.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
  background: #211A47; }

#authentication-form-btns {
  text-align: center;
  margin-top: 6%; }
  #authentication-form-btns ul.nav {
    display: inline-block; }
    #authentication-form-btns ul.nav li {
      display: inline; }
      #authentication-form-btns ul.nav li a {
        float: left; }

.label-default {
  background-color: #cdcfda; }

.label-pill {
  padding-left: .6em;
  padding-right: .6em;
  border-radius: 0.2rem; }

#footer {
  /* width: 640px;
   margin: 0% -320px;
   position: fixed;
   left: 50%;
   bottom: 0%; */
  /* height: 2%;
   position: static;
   bottom: 5px;
   width: 100%;
   text-align: center;
   margin-top: 4%; */
  /*position:fixed;
  height:30px;
  bottom:0;
  left:0;
  right:0;
  margin-bottom:20px;
  text-align: center; */ }

/*html #footer {
  margin-top: -2px; /* prevents infinite scroll if #footer have a border of 2px*/
/*position: absolute;
top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight));
}
*/
#footer-list {
  /* list-style-type: none;
   padding: 0;
   position:static; */ }
  #footer-list li a {
    text-align: center;
    color: #211A47;
    font-family: Montserrat;
    font-size: 1em;
    display: inline; }
  #footer-list li a:hover {
    text-decoration: none;
    color: #968EBF; }

#spinner {
  height: 300px; }

.post:before, .post:after {
  content: "";
  display: table; }

.post:after {
  clear: both; }

.post.invisible {
  opacity: 0; }

.post.instant {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.post.animate {
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in; }

.post .upvote {
  display: block; }

.comment-item-post ul {
  padding-left: 0;
  list-style: none; }
.comment-item-post ul li {
  display: inline; }
.comment-item-post h6 {
  margin-bottom: 1%;
  font-size: 1em; }
.comment-item-post a {
  color: #9FA6E2; }

.post .post-content .published {
  line-height: 1;
  font-size: 1.1em;
  margin-bottom: 3%; }

.post .post-content {
  margin-right: auto;
  margin-left: auto;
  text-align: left; }
  .post .post-content #post-completed {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 1em; }
  .post .post-content p {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 0.6em; }
  .post .post-content a {
    display: inline-block;
    color: #9FA6E2; }
  .post .post-content span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: black; }
  .post .post-content p {
    margin: 0; }
  .post .post-content a:hover {
    text-decoration: line-through; }

.post .discuss {
  display: block;
  float: right;
  margin-top: 7px;
  margin-right: 18px;
  background-color: #c7c7c7; }

.smallLink a {
  color: #9FA6E2;
  font-size: 1em;
  font-family: Helvetica;
  margin-top: 0; }
.smallLink a:hover {
  color: #211A47 !important;
  text-decoration: none; }

.buttons-style {
  background-color: #75718B;
  border-radius: 4px;
  border: none;
  padding: 3px 6px;
  font-size: 0.89em;
  color: white;
  outline: 0;
  height: 17%; }

.btn-primary-outline:hover {
  background: #211A47; }

.btn-primary:hover {
  background: #211A47; }

.buttons-style-editProfile {
  background-color: #75718B;
  border-radius: 4px;
  font-size: 0.89em;
  border: none;
  color: white;
  outline: 0;
  height: 17%; }

.number_of_likes {
  width: 6%;
  margin: 0; }

.social-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%; }

.social-button-group {
  text-align: center; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
  .comments li h4 .date {
    font-size: 12px;
    font-weight: normal; }
  .comments li h4 a {
    font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }

.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container {
  position: relative;
  height: 100px; }

.jumbotron {
  text-align: center; }

.jumbotron h2 {
  font-size: 60px;
  font-weight: 100; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none; }

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto; }

.navbar-toggler {
  color: white; }

@media (max-width: 767px) {
  .fullscreen {
    background: url(1.jpg) center center/cover no-repeat; }

  .fullscreen__video {
    display: none; } }
.row {
  width: 30%; }

.input-field label {
  color: white; }

.container {
  margin-top: 2%; }

.title-homePage {
  margin-top: 7%; }
  .title-homePage h3 {
    text-align: center;
    font-family: Montserrat;
    font-size: 4em;
    font-weight: 900;
    color: #211A47; }
  .title-homePage p {
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4em;
    color: #211A47; }

@media (max-width: 768px) {
  #completed-posts-title {
    font-size: 1.3em;
    margin: 0% 10% 2% 10%; }

  #form-front-page {
    width: 57%; }

  #title-Pages {
    font-size: 1.3em; }

  .profile-title {
    color: #575368; }
    .profile-title h4 {
      font-family: Montserrat;
      font-size: 1.3em;
      margin-bottom: 1em; }

  .profilePic {
    width: 30%;
    margin-bottom: 3%; }

  .number_of_likes {
    width: 5%; }

  #main {
    margin-top: 15%; }

  .grid-block, .main, .post, .comments li, .comment-form {
    width: 65%; }

  .title-homePage {
    margin-top: 20%; }
    .title-homePage h3 {
      font-size: 3em; }
    .title-homePage p {
      font-size: 1.2em; }

  .post-profile-pic {
    width: 10%; } }
@media (max-width: 992px) {
  #main {
    margin-top: 12%; }

  .number_of_likes {
    width: 10%; }

  #form-front-page {
    width: 42%; }

  .title-homePage {
    margin-top: 20%; }
    .title-homePage h3 {
      font-size: 3em; }
    .title-homePage p {
      font-size: 1.2em; }

  .post-profile-pic {
    width: 10%; }

  .navbar-search {
    width: 20%; } }
@media (max-width: 600px) {
  #main {
    margin-top: 18%; }

  .number_of_likes {
    width: 16%; }

  .buttons-style {
    font-size: 0.6em; }

  .grid-block, .main, .post, .comments li, .comment-form {
    width: 80%; }

  .navbar-search {
    width: 100% !important; }

  .form-control {
    font-size: 1em; }

  #form-front-page {
    width: 60%; }

  .title-homePage {
    margin-top: 20%; }
    .title-homePage h3 {
      font-size: 2em; }
    .title-homePage p {
      font-size: 1em; } }
@media (max-width: 400px) {
  .navbar-toggleable-xs {
    font-size: 0.6rem; }

  #form-front-page {
    width: 80%; }

  .profilePic {
    width: 45%;
    margin-bottom: 3%; } }

/*# sourceMappingURL=style.css.map */
