<template name="postSubmit">
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="title">Share something *cuteEmoji*</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
                <input name="image" id="image" type="text" value="" placeholder="Drop image url" class="form-control"/>
                <input name="tags" id="tags" type="text" value="" placeholder="#Tags" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="buttons-style btn btn-primary"/>
    </form>
</template>

