<template name="postItem">
   {{#if isLoggedIn}} 
   <div class="post">
      <div class="post-content">
         <h3><a href="{{url}}">{{title}}</a></h3>
         <h3 class="published">published by {{username}}</h3>
         {{#if isForked}}
            <h3 class="published">forked from {{forkedFrom}}</h3>
         {{/if}}
         <h4>at {{date}}</h4>
      </div>
      <a href="{{pathFor "postPage"}}" class="discuss btn btn-default"> Discuss </a>
      {{#if isOwner}}
      	<button class="delete">Remove</button>
      {{/if}}
      {{> social_buttons}}
      {{#if isNotOwner}}
         <button class="fork">Fork</button>
      {{/if}}
   </div>
   {{/if}}
</template>
