<template name="postComplete">
    <h1>PARABENS!!<br> Voce acaba de concluir:<br> {{title}}</h1>
    <form class="complete form">
        <div class="form-group">
            <div class="controls">
                <input name="image1" id="image" type="text" value="" placeholder="Fotu1" class="form-control"/>
                <input name="image2" id="image" type="text" value="" placeholder="Fotu2" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>
    