<template name="postComplete">
  <form class="complete form">
    <div class="form-group">
      <h2 class="done">Well done! You have done {{title}}</h2>
      <h3 class="done-subtitle">Add a image to show your friends what you just did!</h3>
      <span class="btn btn-default btn-file">
          <input name="image" multiple class="myFileInput" type="file" style="line-height: 1.0; margin-left: -12%;"/>
      </span>
    </div>
    <input type="submit" value="Submit" class="buttons-style-editProfile btn btn-primary" />
  </form>
</template>
