<template name="postItem">
   {{#if isLoggedIn}} 
   <div class="post">
      <div class="post-content">
         <h3><a href="{{pathFor "postPage"}}">{{title}}</a></h3>
         <img class="image" src="{{image}}"/>
         <h3 class="published">published by <a href="/user/{{ownerUsername}}">{{username}}</a></h3>
         {{#if isForked}}
            <h3 class="published">forked from {{forkedFrom}}</h3>
         {{/if}}
         <h4>at {{date}}</h4>
      </div>
      {{#if isOwner}}
      	<button class="delete">Remove</button>
      {{/if}}
      {{> social_buttons}}
      {{#if isNotOwner}}
         <button class="fork">Fork</button>
      {{/if}}
   </div>
   {{/if}}
</template>
