<template name="userPosts">
	<div class="followers-following">
		{{#if owner}}
			{{#if checkFollowing}}
				<button class="follow" id="follow"> Follow </button>
			{{/if}}
			{{#unless checkFollowing}}
				<h3 class="following">following</h3>
				<button class="unfollow" id="unfollow">UnFollow</button>
			{{/unless}}
		{{/if}}
		<ul class="followers-following-list">
            <h2><a href="/Book/{{getUsername}}">{{username}}'s Book</a></h2>
            <li><p>Followers:{{followers}}</p></li>
		    <li><p>Following:{{following}}</p></li>
        </ul>
	</div>
	{{#each postsByUser}}
            {{> postItem}}
	{{/each}}
</template>
