<template name="userPosts">
	<div class="Two">
		{{#if owner}}
			{{#if checkFollowing}}
				<button class="follow" id="follow"> Follow </button>
			{{/if}}
			{{#unless checkFollowing}}
				<h3 class="following">following</h3>
				<button class="unfollow" id="unfollow">UnFollow</button>
			{{/unless}}
		{{/if}}
		<h2><a class="book" href="/Book/{{getUsername}}">Book</a></h2>
		<h5>Followers:{{followers}}</h5>
		<h5>Following:{{following}}</h5>
	</div>
	{{#each postsByUser}}
            {{> postItem}}
	{{/each}}
</template>
