<template name='editProfile'>
    <form class="main form">
        <div class="form-group">
            <input name="bio" type="text" value="" placeholder="Bio" class="form-control" />
            <input name="country" type="text" value="" placeholder="Country" class="form-control" />
            <input name="university" type="text" value="" placeholder="University" class="form-control" />
        </div>

        <p class="" style="margin-left: 2.3%; color: #8F8E8E;">Profile photo
                <span class="btn btn-default btn-file">
				<input type="file" multiple class="myFileInput" style="line-height: 1.0; font-size: 0.8em;"/>
			</span>
        </p>
            <input type="submit" value="Submit" class="buttons-style-editProfile btn btn-primary" />
    </form>

</template>
