<template name="following">
  <h4 id="completed-posts-title"> {{name}}'s Following: </h4>
  {{#each following}}
    <div class="post" id="follow-page">
      <div class="post-content">
        <div class="col-md-2">
          {{#if hasProfilePicture}}
            <img src="{{fileURL image}}" alt="{{image.name}}" class="post-image" />
          {{/if}}
          {{#unless hasProfilePicture}}
            <img src="{{srcProfilePicture}}" alt="" class="post-image"/>
          {{/unless}}
        </div>
        <div class="col-md-10">
          <a href="/user/{{username}}">{{username}}</a>
        </div>
      </div>
    </div>
  {{/each}}
</template>
