<template name="userPosts">

    <div class="post profile-resume">

        <div class="col-md-3"><img class="profilePic" src='{{image}}'/></div>
            <div class="col-md-9">
                <h4 class="profile-title"><a href="/Book/{{getUsername}}">{{username}}'s Profile</a></h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Followers
                        <span class="label label-default label-pill pull-xs-right">{{followers}}</span>

                    </li>
                    <li class="list-group-item">
                        Following
                        <span class="label label-default label-pill pull-xs-right">{{following}}</span>

                    </li>
                    <li class="list-group-item">
                        Bio
                        <span class="label label-default label-pill pull-xs-right">{{bio}}</span>

                    </li>
                    <li class="list-group-item">
                        Country <p class="label label-default label-pill pull-xs-right">{{country}}</p>

                    </li>
                    <li class="list-group-item">
                        University <p class="label label-default label-pill pull-xs-right">{{university}}</p>

                    </li>
                </ul>

                {{#unless owner}}
                    <a href='/{{username}}/EditProfile'>
                        <button type="button" class="btn btn-primary buttons-style-editProfile">Edit profile</button>
                    </a>
                {{/unless}}

                {{#if owner}}
                    {{#if checkFollowing}}
                        <button type="button" class="buttons-style btn btn-primary-outline follow" id="follow">Follow
                        </button>
                    {{/if}}
                    {{#unless checkFollowing}}
                        <button type="button" class="buttons-style btn btn-primary-outline unfollow" id="unfollow">
                            UnFollow
                        </button>
                    {{/unless}}
                {{/if}}
            </div>
    </div>
            <div class="user-posts">
                {{#each postsByUser}}
                    {{> postItem}}
                {{/each}}
            </div>


</template>
