<template name="userPosts">

	<div class="post profile-resume">
        <h4 class="profile-title"><a href="/Book/{{getUsername}}">{{username}}'s Profile</a></h4>
        <img class="profilePic" src='{{picture}}'/>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right">{{followers}}</span>
                Followers
            </li>
            <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right">{{following}}</span>
                Following
            </li>
            <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right">{{bio}}</span>
                Bio:
            </li>
            <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right">{{country}}</span>
                Country:
            </li>
            <li class="list-group-item">
                <span class="label label-default label-pill pull-xs-right">{{university}}</span>
                University:
            </li>
        </ul>

        {{#unless owner}}
			<a href='/{{username}}/EditProfile'><button type="button" class="btn btn-primary buttons-style-editProfile">Edit profile</button></a>
		{{/unless}}

		{{#if owner}}
			{{#if checkFollowing}}
                <button type="button" class="buttons-style btn btn-primary-outline follow" id="follow">Follow</button>
			{{/if}}
			{{#unless checkFollowing}}
				<button type="button" class="buttons-style btn btn-primary-outline unfollow" id="unfollow">UnFollow</button>
			{{/unless}}
		{{/if}}
	</div>

	<div class="user-posts">
		{{#each postsByUser}}
	            {{> postItem}}
		{{/each}}
	</div>
</template>
