<template name="header">
   <div class="header-style">
         <div id="header-title">
            <a  href="{{pathFor 'home'}}">The Grad List</a>
         </div>
         <div class="submit">
            <ul>
                {{#if currentUser}}
                <li class="submit">
                    <a class="profile" href="/user/{{getUsername}}"> {{getUsername}}</a>
                    <a class="profile" href="/Book/{{getUsername}}"> My Book</a>
                </li>
                {{/if}}
            </ul>
        </div>
        {{#if currentUser}}
            <p><a href='#' class="logout">Logout</a></p>
        {{/if}}
        </div>
</template>
