<template name="header">
   <div class="One">
         <div class="Title">
            <a class="title" href="{{pathFor 'postsList'}}">The Grad List</a>
            <a href="/feed"> Feed </a>
         </div>
         <div class="submit">
            <ul>
                {{#if currentUser}}
                <li class="submit"> <a class="submit" href="{{pathFor 'postSubmit'}}">Submit Post</a> <a class="profile" href="/user/{{getUsername}}"> {{getUsername}} </a> </li>
                {{/if}}
            </ul>
         </div>
         <div class="login">
            {{>loginButtons}}
         </div>
   </div>
</template>
